body{
 padding: 3em;
 font-family:  Courier New, Courier, monospace;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header{
    background: white;
    overflow: hidden;
    border-bottom: 2px solid #F8F1FF;
}
.right-header{
     display: flex;
    justify-content: flex-end;

}
.left-header{
    margin-bottom: -15px;
}
.name{
    font-family: cursive;
    font-size: 30px;
    color: #DECDF5;
}

#home img{
    margin-top: 15px;
    border-radius: 50%;

}
h1{
    font-size: 30px;
}
.home-cont{
    display: flex;
    justify-content: flex-end;
    margin-top: -150px;
    margin-right: 100px;
    
}
.about-cont{
    display: flex;
    margin-top: 200px;
}
.about-content p {
    margin-bottom: 15px;
}
.about-content{
    margin-top: 35px;
    margin-left: -120px;
}
#insta-img{
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
    
}
#instafeed{
    justify-content: flex-end;
    border: 2px solid #DECDF5;
    padding: 10px;
    color: #656176;
}

#instafeed .instagram-text {
    margin-top: 10px;
}

#instafeed a {
    text-decoration: none;
}
.contact-cont{
    display: flex;
    margin-top: 100px;
}
.contact-content{
    margin-top: 35px;
    margin-left: -150px;
}

.contact-content ul {
    margin-top: 10px;
}

.contact-content li {
    float: left;
    margin-right: 10px;
}

.header a{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #DECDF5;
}

.header a:hover{
    color: #656176;
    
}
.header a:focus {
    color: #F8F1FF;
}

@media (min-width: 1024px){
    .dropdown i {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .img{
        display: none;
    }
    .name{
    font-size: 15px;
    }
    p{
        font-size: 10px;
    }
    .left-header{
    margin-bottom: -30px;
    }
.dropbtn {
    border: none;
    cursor: pointer;
    color: #DECDF5;
    }

.dropbtn:hover, .dropbtn:focus {
    color: #656176;
    }

.dropdown {
    position: relative;
    display: inline-block;
    }

.dropdown-content {
    display: none;
    position: fixed;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    }
.dropdown-content a {
    color: #DECDF5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    }

.dropdown-content a:hover {
    color: #383838;
    }
.show {
    display: block;
    }
.home-cont{
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    }
.about-cont{
    justify-content: center;
    margin-top: 60px;
    font-size: 20px;
    }
.about-content{
    margin-top: -60px;
    margin-left: -120px;
}
.contact-cont{
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    }
.about-content{
    margin-top: 60px;
    margin-left: -120px;
}
}

